<%= form_with(model: inventory, class: "contents", data: { controller: "inventory--form" }) do |form| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
        <% inventory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label t(:product) %>
    <%= form.select :product_id, grouped_options_for_select(Product.group_for_select, inventory.product_id), { :prompt => true }, { data: { controller: "ts--select" } } %>
  </div>

  <div class="my-5">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, step: "any", class: "form-input w-full", data: { inventory_form_target: "quantity", action: "inventory--form#quantityIsUpdated" } %>
  </div>

  <div class="my-5">
    <%= form.label :unit_id %>
    <%= form.collection_select :unit_id, Unit.all, :id, :name, { :prompt => true }, { disabled: (action_name == "edit"), data: { controller: "ts--select" } } %>
  </div>

  <div class="my-5">
    <%= form.label :total_price %>
    <%= form.number_field :total_price, step: "any", class: "form-input w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :storage_id %>
    <%= form.collection_select :storage_id, Storage.all, :id, :location, { prompt: true }, { data: { controller: "ts--select" } } %>
  </div>

  <div class="my-5">
    <%= form.label :in_stock_on %>
    <%= form.date_field :in_stock_on, class: "form-input w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :produced_on %>
    <%= form.date_field :produced_on, class: "form-input w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :shelf_life %>
      <div class="flex">
        <%= form.number_field :shelf_life, class: "form-input mr-2 basis-1/2 sm:basis-4/5" %>
        <%= form.select :shelf_life_unit,
                Inventory.shelf_life_units.keys,
                {},
                { class: "form-input basis-1/2 sm:basis-1/5" } %>
      </div>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
