<div id="<%= dom_id inventory %>">
  <div>
    <p class="my-5">
      <strong class="block font-medium mb-1">Product:</strong>
      <%= link_to product_path(inventory.product), class: "link-primary" do %>
        <%= render partial: "products/variant", locals: { product: inventory.product } %>
      <% end %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Quantity:</strong>
      <span class=<%= quantity_style inventory %>>
        <%= render partial: "quantity", locals: { inventory: inventory } %>
      </span>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Price per unit:</strong>
      <%= inventory.price %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Storage location:</strong>
      <%= inventory.storage.location %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">In stock on:</strong>
      <%= inventory.in_stock_on %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Produced on:</strong>
      <%= inventory.produced_on %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Shelf life:</strong>
      <%= render partial: "shelf_life", locals: { inventory: inventory} %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Expire on:</strong>
      <span id="expire_on"><%= inventory.expire_on %></span>
    </p>
  </div>
  <div>
    <%= link_to new_inventory_consume_history_path(inventory), class: "btn-primary block mb-5 text-center" do %>
      <span>
        Consume
        <i class="fa-solid fa-drumstick-bite"></i>
      </span>
    <% end %>
    <div class="mb-5">
      <%= render template: "consume_histories/index" %>
    </div>
  </div>
</div>
