<% if action_name != "index" %>
  <div id="<%= dom_id inventory %>">
    <p class="my-5">
      <strong class="block font-medium mb-1">Item:</strong>
      <%= inventory.item.name %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Quantity:</strong>
      <span class=<%= quantity_style inventory %>><%= inventory.current_quantity %> / <%= inventory.quantity %> <%= inventory.unit.name %></span>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Price per unit:</strong>
      <%= inventory.price %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Storage location:</strong>
      <%= inventory.storage.location %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">In stock on:</strong>
      <%= inventory.in_stock_on %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Produced on:</strong>
      <%= inventory.produced_on %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Shelf life:</strong>
      <%= inventory.shelf_life %> <%= inventory.shelf_life_unit %>
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">Expire on:</strong>
      <%= inventory.expire_on %>
    </p>
  </div>
<% else %>
  <tr>
    <td class="data-cell">
      <%= link_to inventory.item.name, edit_inventory_path(inventory), class: "text-sky-500 hover:text-sky-700 hidden sm:inline" %>
      <%= link_to inventory.item.name, inventory_path(inventory), class: "text-sky-500 hover:text-sky-700 inline sm:hidden" %>
    </td>
    <td class="data-cell"><span class=<%= quantity_style inventory %>><%= inventory.current_quantity %> / <%= inventory.quantity %> <%= inventory.unit.name %></span></td>
    <td class="data-cell-sm"><%= inventory.storage.location %></td>
    <td class="data-cell-sm"><%= inventory.price %></td>
    <td class="data-cell-sm"><%= inventory.in_stock_on %></td>
    <td class="data-cell-sm"><%= inventory.produced_on %></td>
    <td class="data-cell-sm"><%= inventory.shelf_life %> <%= inventory.shelf_life_unit %></td>
    <td class="data-cell-sm"><%= inventory.expire_on %></td>
  </tr>
<% end %>
