<% inventories.each do |inventory| %>
  <% cache inventory do %>
    <%= link_to inventory_path(inventory), class: "link-primary block flex justify-left" do %>
      <span class="block basis-3/5 sm:basis-2/5">
        <i class="fa-solid fa-jar"></i>
        <%= format_number(inventory.left_quantity) %>
        /
        <%= format_number(inventory.quantity) %>
        <%= inventory.unit.name %>
      </span>

      <span class="block basis-2/5 sm:basis-1/5">
        <i class="fa-solid fa-location-pin"></i>
        <%= inventory.storage.location %>
      </span>

      <% if inventory.expire_on.present? %>
        <span class="hidden sm:block basis-2/5">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <%= inventory.expire_on %>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
