<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-end">
    <%= link_to 'Add', new_inventory_path, class: "btn-primary block" %>
  </div>

  <table class="data-table">
    <thead class="data-header">
      <tr>
        <th class="data-header-cell">Item</th>
        <th class="data-header-cell">Quantity</th>
        <th class="data-header-cell-sm">Storage</th>
        <th class="data-header-cell-sm">Price per unit</th>
        <th class="data-header-cell-sm">In stock on</th>
        <th class="data-header-cell-sm">Produced on</th>
        <th class="data-header-cell-sm">Shelf life</th>
        <th class="data-header-cell-sm">Expire on</th>
        <th class="data-header-cell"></th>
        <th class="data-header-cell-sm"></th>
      </tr>
    </thead>
    <tbody>
      <% @inventories.each do |inventory| %>
        <% cache inventory do %>
          <tr class="hover:bg-teal-300">
            <td class="data-cell">
              <%= link_to inventory_path(inventory), class: "link-primary" do %>
                <%= render partial: "products/variant", locals: { product: inventory.product } %>
              <% end %>
            </td>
            <td class="data-cell">
              <span class=<%= quantity_style inventory %>>
                <%= format_number(inventory.current_quantity) %>
                /
                <%= format_number(inventory.quantity) %>
                <%= inventory.unit.name %>
              </span>
            </td>
            <td class="data-cell-sm"><%= inventory.storage.location %></td>
            <td class="data-cell-sm"><%= inventory.price %></td>
            <td class="data-cell-sm"><%= inventory.in_stock_on %></td>
            <td class="data-cell-sm"><%= inventory.produced_on %></td>
            <td class="data-cell-sm">
              <% if inventory.shelf_life.present? %>
                <%= inventory.shelf_life %>
                <%= inventory.shelf_life_unit %>
              <% end %>
            </td>
            <td class="data-cell-sm"><%= inventory.expire_on %></td>
            <td class="data-cell">
              <%= link_to new_inventory_consume_history_path(inventory), class: "hover:text-sky-500" do %>
                <i class="fa-solid fa-drumstick-bite"></i>
              <% end %>
            </td>
            <td class="data-cell-sm">
              <%= link_to edit_inventory_path(inventory), class: "hover:text-sky-500" do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
