<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between mb-10">
    <div class="group">
      <button data-inventory-index-type-target="typeButton" class="btn-primary cursor-default w-40"><%= index_type %></button>
      <ul class="hidden absolute drop-shadow-md z-10 group-hover:block divide-y divide-teal-300 justify-center text-slate-500 w-40 pt-1">
        <li><%= link_to t("inventories.index_type.in_stock"), inventories_url, class: "block bg-teal-100/90 hover:bg-teal-300/90 rounded-t-md text-center p-2" %></li>
        <li><%= link_to t("inventories.index_type.out_of_stock"), inventories_url(exhausted: "1"), class: "block bg-teal-100 hover:bg-teal-300 text-center p-2" %></li>
        <li><%= link_to t("inventories.index_type.all"), inventories_url(all: "1"), class: "block bg-teal-100 hover:bg-teal-300 rounded-b-md text-center p-2" %></li>
      </ul>
    </div>
    <%= link_to 'Add', new_inventory_path, class: "btn-primary block" %>
  </div>

  <%= render partial: 'inventory_table', locals: { inventories: @inventories } %>
</div>
