<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-end">
    <%= link_to 'Add', new_inventory_path, class: "btn-primary block" %>
  </div>

  <table class="data-table">
    <thead class="data-header">
      <tr>
        <th class="data-cell">Item</th>
        <th class="data-cell">Quantity</th>
        <th class="data-cell-sm">Storage</th>
        <th class="data-cell-sm">Price per unit</th>
        <th class="data-cell-sm">In stock on</th>
        <th class="data-cell-sm">Produced on</th>
        <th class="data-cell-sm">Shelf life</th>
        <th class="data-cell-sm">Expire on</th>
      </tr>
    </thead>
    <tbody>
      <% @inventories.each do |inventory| %>
        <tr>
          <td class="data-cell">
            <%= link_to edit_inventory_path(inventory), class: "text-sky-500 hover:text-sky-700 hidden sm:inline" do %>
              <%= render partial: "products/variant", locals: { product: inventory.product } %>
            <% end %>
            <%= link_to inventory_path(inventory), class: "text-sky-500 hover:text-sky-700 inline sm:hidden" do %>
              <%= render partial: "products/variant", locals: { product: inventory.product } %>
            <% end %>
          </td>
          <td class="data-cell"><span class=<%= quantity_style inventory %>><%= format_number(inventory.current_quantity) %> / <%= format_number(inventory.quantity) %> <%= inventory.unit.name %></span></td>
          <td class="data-cell-sm"><%= inventory.storage.location %></td>
          <td class="data-cell-sm"><%= inventory.price %></td>
          <td class="data-cell-sm"><%= inventory.in_stock_on %></td>
          <td class="data-cell-sm"><%= inventory.produced_on %></td>
          <td class="data-cell-sm"><%= inventory.shelf_life %> <%= inventory.shelf_life_unit %></td>
          <td class="data-cell-sm"><%= inventory.expire_on %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
