<%= form_with(model: [inventory, consume_history], class: "contents") do |form| %>
  <% if consume_history.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(consume_history.errors.count, "error") %> prohibited this consume_history from being saved:</h2>

      <ul>
        <% consume_history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :consume_on %>
    <%= form.date_field :consume_on, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :quantity %>
    <div class="flex">
      <%= form.number_field :quantity, step: "any", class: "form-input w-4/5" %>
      <div class="rounded-md bg-teal-500 px-3 py-2 mt-2 ml-2 w-1/5 text-white text-center">
        <%= consume_history.inventory.unit.name %>
      </div>
    </div>
  </div>

  <div class="w-full sm:w-fit">
    <%= form.submit class: "btn-primary w-full" %>
  </div>
<% end %>
