<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-end items-center">
    <%= link_to 'New product', new_product_path, class: "btn-primary mb-5" %>
  </div>

  <div id="products" class="max-w-sm mx-auto border-2 border-teal-300 rounded-lg">
    <% @items.each do |item| %>
      <div id="<%= dom_id item %>" class="px-5 pb-6 pt-2 last:mb-0 border-b-2 last:border-b-0">
        <h2 class="text-xl font-medium mb-2"><%= link_to item.name, edit_item_path(item), class: "text-slate-500 hover:text-slate-700" %></h2>
        <ul>
          <% item.products.each do |product| %>
            <li id="<%= dom_id product %>" class="mb-3 last:mb-0">
              <%= link_to product_path(product), class: "text-base font-normal text-sky-500 hover:text-sky-700" do %>
                <%= render partial: "variant", locals: { product: product } %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
