<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto w-full sm:w-fit">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <% cache @product do %>
      <%= render @product %>
    <% end %>

    <div class="flex flex-col sm:flex-row">
      <%= link_to 'Edit this product', edit_product_path(@product), class: "btn-primary block w-full sm:w-fit text-center" %>
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "btn-secondary text-left block w-full sm:mx-2 my-2 sm:my-0 sm:w-fit text-center" %>
      <%= link_to 'Back to products', products_path, class: "btn-secondary block w-full sm:w-fit text-center" %>
    </div>
  </div>
</div>
